<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yu.mapper.TArticleContentMapper">

    <resultMap id="BaseResultMap" type="com.yu.model.entity.TArticleContent">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="article_id" column="article_id" jdbcType="BIGINT"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,article_id,content
    </sql>
</mapper>
