<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yu.mapper.TArticleMapper">

    <resultMap id="BaseResultMap" type="com.yu.model.entity.TArticle">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="title_image" column="title_image" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="is_deleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="read_num" column="read_num" jdbcType="OTHER"/>
            <result property="thumbNum" column="thumbNum" jdbcType="INTEGER"/>
            <result property="favourNum" column="favourNum" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,title_image,
        description,userId,create_time,
        update_time,is_deleted,read_num,
        thumbNum,favourNum
    </sql>

    <!--获取文章数据-->
    <select id="listTArticle" resultType="com.yu.model.vo.ArticleVO">
        SELECT a.id,a.title,a.description,ac.content,a.create_time,a.update_time,
               (SELECT name FROM t_category a WHERE a.id=acr.category_id)categoryName,
               acr.category_id categoryId
        FROM t_article a
                 LEFT JOIN t_article_content ac on ac.article_id = a.id
                 LEFT JOIN t_article_category_rel acr on acr.article_id=a.id
        WHERE a.title like CONCAT('%',#{title},'%')

        LIMIT #{current},#{pageSize}
    </select>
</mapper>
