<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yu.mapper.TArticleCategoryRelMapper">

    <resultMap id="BaseResultMap" type="com.yu.model.entity.TArticleCategoryRel">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="article_id" column="article_id" jdbcType="BIGINT"/>
            <result property="category_id" column="category_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,article_id,category_id
    </sql>

    <delete id="removeByArticleId" parameterType="long">
        delete from t_article_category_rel where article_id = #{id};
    </delete>
</mapper>
